@CHARSET "ISO-8859-1";

table, th, td
{
border:1px solid black;
}

table
{
border-collapse:collapse;
}

th
{
background-color:cyan;
color:blue;
text-align:center;
}

p, td
{
text-align:justify;
font-size:90%
}

p, th, td
{
font-family:"arial", "serif";	
padding-left:15px;
padding-right:15px;
}
